In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Load the dataset
file_path = 'New_cleaned_dataset.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

,user_id,order_id,submit_datetime,skuid,profile_created_time,profile_created_time_sec,order_sumitted,time_diff_sec,COUNTRY,AGE,...,view_feedback_count,view_plan_count,COUNTRY_GROUPED_DE,COUNTRY_GROUPED_FR,COUNTRY_GROUPED_IN,COUNTRY_GROUPED_Others,COUNTRY_GROUPED_US,time_diff_min,time_diff_hours,time_diff_days
0,13F987F6,137957563,2024-02-18 10:52:30.097000+00:00,6051,1706787989822000,1.706788e+09,1.708254e+09,1465560.275,Others,15.0,...,3.0,0.0,False,False,False,True,False,24426.004583,407.100076,16.962503
1,13F98A7A,137890605,2024-02-01 18:56:06.108000+00:00,6051,1706812320800000,1.706812e+09,1.706814e+09,1445.308,Others,37.0,...,0.0,0.0,False,False,False,True,False,24.088467,0.401474,0.016728
2,13F98AHC,137931243,2024-02-11 23:20:58.192000+00:00,6051,1706819691211000,1.706820e+09,1.707694e+09,873966.981,US,37.0,...,0.0,1.0,False,False,False,False,True,14566.116350,242.768606,10.115359
3,13F98B34,137891021,2024-02-01 21:47:37.347000+00:00,4053,1706822375070000,1.706822e+09,1.706824e+09,1682.277,Others,20.0,...,1.0,0.0,False,False,False,True,False,28.037950,0.467299,0.019471
4,13F98E1G,138070120,2024-03-13 16:43:57.363000+00:00,6042,1706868798495000,1.706869e+09,1.710348e+09,3479438.868,Others,19.0,...,6.0,3.0,False,False,False,True,False,57990.647800,966.510797,40.271283

In [2]:
# Convert boolean columns for country groups to 0 and 1
boolean_columns = [
    'COUNTRY_GROUPED_DE', 'COUNTRY_GROUPED_FR', 'COUNTRY_GROUPED_IN',
    'COUNTRY_GROUPED_Others', 'COUNTRY_GROUPED_US'
]

for col in boolean_columns:
    data[col] = data[col].astype(int)

# Display the first few rows to verify the changes
data[boolean_columns].head()

,COUNTRY_GROUPED_DE,COUNTRY_GROUPED_FR,COUNTRY_GROUPED_IN,COUNTRY_GROUPED_Others,COUNTRY_GROUPED_US
0,0,0,0,1,0
1,0,0,0,1,0
2,0,0,0,0,1
3,0,0,0,1,0
4,0,0,0,1,0

In [3]:
# Ensure the dataset retains its original column count of 24 columns
# Check the current number of columns
initial_columns = data.columns.tolist()

# Convert boolean columns to 0 and 1
for col in boolean_columns:
    data[col] = data[col].astype(int)

# Ensure the dataset retains the same number of columns
current_columns = data.columns.tolist()

# Check if any columns have been added or removed
if len(initial_columns) != len(current_columns):
    raise ValueError("Column count has changed during processing.")

# Display the first few rows to verify the changes
data.head()

,user_id,order_id,submit_datetime,skuid,profile_created_time,profile_created_time_sec,order_sumitted,time_diff_sec,COUNTRY,AGE,...,view_feedback_count,view_plan_count,COUNTRY_GROUPED_DE,COUNTRY_GROUPED_FR,COUNTRY_GROUPED_IN,COUNTRY_GROUPED_Others,COUNTRY_GROUPED_US,time_diff_min,time_diff_hours,time_diff_days
0,13F987F6,137957563,2024-02-18 10:52:30.097000+00:00,6051,1706787989822000,1.706788e+09,1.708254e+09,1465560.275,Others,15.0,...,3.0,0.0,0,0,0,1,0,24426.004583,407.100076,16.962503
1,13F98A7A,137890605,2024-02-01 18:56:06.108000+00:00,6051,1706812320800000,1.706812e+09,1.706814e+09,1445.308,Others,37.0,...,0.0,0.0,0,0,0,1,0,24.088467,0.401474,0.016728
2,13F98AHC,137931243,2024-02-11 23:20:58.192000+00:00,6051,1706819691211000,1.706820e+09,1.707694e+09,873966.981,US,37.0,...,0.0,1.0,0,0,0,0,1,14566.116350,242.768606,10.115359
3,13F98B34,137891021,2024-02-01 21:47:37.347000+00:00,4053,1706822375070000,1.706822e+09,1.706824e+09,1682.277,Others,20.0,...,1.0,0.0,0,0,0,1,0,28.037950,0.467299,0.019471
4,13F98E1G,138070120,2024-03-13 16:43:57.363000+00:00,6042,1706868798495000,1.706869e+09,1.710348e+09,3479438.868,Others,19.0,...,6.0,3.0,0,0,0,1,0,57990.647800,966.510797,40.271283

In [4]:
# Save the updated dataset to a new CSV file
updated_file_path = 'Updated_New_cleaned_dataset.csv'
data.to_csv(updated_file_path, index=False)

updated_file_path

'Updated_New_cleaned_dataset.csv'